/* Add CSS Styling */

.odd {
    background-color:rgb(250, 200, 200);
    font-family:Verdana, 'DejaVu Sans', sans-serif
}

#second {
    color:#000ecc;
    font-size:36px;
}

.cool {
    font-size:24px;
}

#fourth {
    background-color:#c8fac8;
    font-size:24px;
    font-weight:bold;
}